



.card-image .profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top:-35px;
    left:20px;
    border: 3px solid #ffff;
    box-shadow: 0 2px 5px rgba(0,0,0,1.2);
    overflow: hidden;
    position: relative;
}

.profile-pic {
    max-width: 150px;
    max-height: 150px;
    display: block;
}

.file-upload {
    display: none;
}

.p-image {
  background-color: #ffff;
  border-radius: 50%;
  padding: 8px;  
  position: absolute;
  top: 180px;
  left: 480px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
   box-shadow: 0 2px 5px rgba(0,0,0,1.2);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

.card-image .cover img{
    width: 750px;
    height:250px;
    box-shadow: 0 2px 5px rgba(0,0,0,1.2);
    overflow: hidden;
}


.c-image {
  background-color: #ffff;
  border-radius: 10%;
  padding: 8px;  
  position: absolute;
  top: 340px;
  right: 80px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  box-shadow: 0 2px 5px rgba(0,0,0,1.2);
}

.c-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-cpic-button {
  font-size: 1.2em;
}

.upload-cpic-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

::placeholder {
    color: black;
}

